.filter-pipeline-title{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1% 7%;
    text-align: left;
    color: #6e58ff;
}

.filter-category{
    font-size: 1rem;
    font-weight: 500;
    margin: 1% 7%;
    text-align: left;
}